# Data Science Tools and Ecosystem

### In this notebook,Data Science Tools and Ecosystem are summarized

**Objectives:**
+ List popular languages in data science
+ List commonly used libraries in data science
+ List 3 data science tools
+ Perform some arithmetic calculations

#### Some of the popular languages that Data Sciencetist use are:
1. Python
2. C++
3. R

#### Some of the commonly used libraries used by Data Scientists are:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|------------------|
|Python            |
|Spark             |
|Hadoop            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This is a simple arithmetic expression to multiply and then integers
x = 3
y = 4
z = x*y+5
print (z)

17

In [16]:
# This code will convert 200 minutes to hours
x = 200 # 200 minutes
y = 60 # number of minutes in an hour
minute_to_hours = x/y
print(minute_to_hours)

3.3333333333333335

## Author
Eric Evans